<ion-content [fullscreen]="true">

  <swiper-container #swiper [keyboard]="true" [pagination]="true" [scrollbar]="true" [modules]="swiperModules"
    (slidechangetransitionstart)="slideWillChange()" (slidechangetransitionend)="slideDidChange()">
    <swiper-slide>
      <h1>Bienvenue sur Use Your Fridge</h1>

      <app-lottie animation="food-served"></app-lottie>

      <div class="slider-text">

        <p>
          Lorem ipsum dolor sit amet, consectetur
          adipiscing elit. Nulla ultricies, erat vitae
          porta consequat.
        </p>
      </div>

      <div class="navigator">
        <ion-button color="primary" fill="clear" (click)="finish()" >SKIP</ion-button>
        <ion-button color="primary" fill="clear" (click)="next()">NEXT</ion-button>
      </div>
    </swiper-slide>
    <swiper-slide>
      <h1>Ma cuisine</h1>

      <app-lottie animation="order-food"></app-lottie>

      <div class="slider-text">

        <p>
          Lorem ipsum dolor sit amet, consectetur
          adipiscing elit. Nulla ultricies, erat vitae
          porta consequat.
        </p>
      </div>

      <div class="navigator">
        <ion-button color="primary" fill="clear"  (click)="finish()">SKIP</ion-button>
        <ion-button color="primary" fill="clear" (click)="next()">NEXT</ion-button>
      </div>
    </swiper-slide>
    <swiper-slide>
      <h1>Mes recettes</h1>

      <app-lottie animation="select-food"></app-lottie>

      <div class="slider-text">

        <p>
          Lorem ipsum dolor sit amet, consectetur
          adipiscing elit. Nulla ultricies, erat vitae
          porta consequat.
        </p>
      </div>

      <div class="navigator">
        <ion-button color="primary" fill="clear"  (click)="finish()">SKIP</ion-button>
        <ion-button color="primary" fill="clear" (click)="next()">NEXT</ion-button>
      </div>
    </swiper-slide>
    <swiper-slide>
      <h1>MEs menus et listes de courses</h1>

      <app-lottie animation="restaurant-open"></app-lottie>

      <div class="slider-text">

        <p>
          Lorem ipsum dolor sit amet, consectetur
          adipiscing elit. Nulla ultricies, erat vitae
          porta consequat.
        </p>
      </div>

 

      <ion-button color="primary"  (click)="finish()">GET STARTED</ion-button>
    </swiper-slide>
  </swiper-container>
</ion-content>