<ion-header>
  <ion-toolbar>
    <ion-title>Liste de courses</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="closeModal('reduce')">Fermer</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <!-- Itérer sur les articles de la liste de courses -->
    <ion-item *ngFor="let item of shoppingListItems.items" 
              [ngClass]="{'in-frigo': item.inFrigo, 'not-in-frigo': !item.inFrigo}">
      <ion-label>
        {{ item.ingredient }} - 
        {{ item.quantite }} {{ item.unit ? item.unit : '' }}
      </ion-label>
      <ion-button *ngIf="!item.inFrigo" (click)="addToFridge(item.ingredient)">
        Ajouter au frigo
      </ion-button>
    </ion-item>
  </ion-list>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-button expand="block" (click)="closeModal('reduce')">Réduire</ion-button>
  </ion-toolbar>
</ion-footer>
