ion-content {
    --overflow: auto;
  }
  
  ion-list {
    padding-bottom: 20px;  // Ajoute un peu d'espace en bas de la liste
  }

  ion-item {
    .availability {
      min-width: 50px;
      text-align: center;
      font-size: 0.9em;
      color: var(--ion-color-medium);
    }
  }
  
  .in-frigo {
    --background: rgba(0, 255, 0, 0.1);  // vert clair
  }
  
  .not-in-frigo {
    --background: rgba(255, 0, 0, 0.1);  // rouge clair
}

