<!-- src/app/tab2/tab2.page.html -->
<ion-header>
  <ion-toolbar>
    <ion-title>{{ 'ALL_RECIPES' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <!-- Bouton pour afficher la liste de courses réduite -->
  <ion-button [ngClass]="{'fixable-element': true}"  *ngIf="isReducedIconVisible" (click)="openShoppingListModal()">
    {{ 'VIEW_SHOPPING_LIST' | translate }}
  </ion-button>
  <div *ngIf="isReducedIconVisible" class="reduced-icon" (click)="openShoppingListModal()">
    <ion-icon name="cart"></ion-icon>
  </div>

  <ion-list class="flex-container">
    <!-- Filtrer par recherche + tag1, tag2, tag3 -->
    <ion-item class="item-1">
      <ion-input
        [placeholder]="'SEARCH' | translate"
        [(ngModel)]="searchTerm"
        (ionInput)="filterRecettes()"
      ></ion-input>
    </ion-item>

    <ion-item class="item-2">
      <ion-label>{{ 'FILTER_TAG1' | translate }}</ion-label>
      <ion-select [(ngModel)]="selectedTag1" (ionChange)="filterRecettes()">
        <ion-select-option [value]="null"></ion-select-option>
        <ion-select-option *ngFor="let tag of tag1Options" [value]="tag">{{ tag }}</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item class="item-3">
      <ion-label>{{ 'FILTER_TAG2' | translate }}</ion-label>
      <ion-select [(ngModel)]="selectedTag2" (ionChange)="filterRecettes()">
        <ion-select-option [value]="null"></ion-select-option>
        <ion-select-option *ngFor="let tag of tag2Options" [value]="tag">{{ tag }}</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item class="item-4">
      <ion-label>{{ 'FILTER_TAG3' | translate }}</ion-label>
      <ion-select [(ngModel)]="selectedTag3" (ionChange)="filterRecettes()">
        <ion-select-option [value]="null"></ion-select-option>
        <ion-select-option *ngFor="let tag of tag3Options" [value]="tag">{{ tag }}</ion-select-option>
      </ion-select>
    </ion-item>
  </ion-list>

  <ion-button expand="block" color="danger" (click)="clearFilters()">
    {{ 'CLEAR_FILTERS' | translate }}
  </ion-button>

  <!-- Bouton pour générer et afficher la liste de courses -->
  <ion-button expand="block" color="danger" [disabled]="selectedRecettes.length === 0" (click)="generateShoppingList()">
    {{ 'GENERATE_SHOPPING_LIST' | translate }}
  </ion-button>

  <!-- Liste des recettes -->
  <ion-list *ngIf="recettes && recettes.length > 0">
    <ion-item *ngFor="let recette of recettes">
      <ion-checkbox [(ngModel)]="recette.selected" (ionChange)="updateSelectedRecettes()"></ion-checkbox>
      <ion-label class="availability">{{ recette.title }} ({{ recette.rate }})</ion-label>
      <ion-label>{{ recette.difficulty }} - {{ recette.budget }}</ion-label>
      <ion-label>{{ 'INGREDIENTS' | translate }}: {{ recette.ingredients.length }}</ion-label>
      <ion-button fill="clear" class="detail-button" (click)="showRecetteDetails(recette)">
        <ion-icon name="help-circle-outline"></ion-icon>
      </ion-button>
    </ion-item>
  </ion-list>

  <!-- Pagination -->
  <ion-item *ngIf="totalPages > 1">
    <ion-button (click)="goToPreviousPage()" [disabled]="currentPage === 1">{{ 'PREVIOUS' | translate }}</ion-button>
    <ion-label>{{ 'PAGE' | translate }} {{ currentPage }} {{ 'OF' | translate }} {{ totalPages }}</ion-label>
    <ion-button (click)="goToNextPage()" [disabled]="currentPage === totalPages">{{ 'NEXT' | translate }}</ion-button>
  </ion-item>

  <!-- Messages Conditionnels -->
  <ion-item *ngIf="(!recettes || recettes.length === 0) && allRecettes.length > 0">
    {{ 'NO_RECIPES_MATCH' | translate }}
  </ion-item>

  <ion-item *ngIf="allRecettes.length === 0 && recettes.length === 0">
    {{ 'LOADING_RECIPES' | translate }}
  </ion-item>
</ion-content>
