<ion-header>
  <ion-toolbar>
    <ion-title>Toutes les Recettes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-button *ngIf="isReducedIconVisible" (click)="expandShoppingList()" expand="block">
    VOIR LA LISTE DE COURSES
  </ion-button>
  <div *ngIf="isReducedIconVisible" class="reduced-icon" (click)="expandShoppingList()">
    <ion-icon name="cart"></ion-icon>
  </div>

  <!-- Filtrer par recherche + tag1, tag2, tag3 -->
  <ion-item>
    <ion-input
      placeholder="Rechercher par titre ou ingrédient"
      [(ngModel)]="searchTerm"
      (ionInput)="filterRecettes()"
    ></ion-input>
  </ion-item>

  <ion-item>
    <ion-label>Filtrer par Tag1</ion-label>
    <ion-select [(ngModel)]="selectedTag1" (ionChange)="filterRecettes()">
      <ion-select-option *ngFor="let tag of tag1Options" [value]="tag">{{ tag }}</ion-select-option>
    </ion-select>
  </ion-item>
  
  <!-- Sélecteur pour tag2 -->
  <ion-item>
    <ion-label>Filtrer par Tag2</ion-label>
    <ion-select [(ngModel)]="selectedTag2" (ionChange)="filterRecettes()">
      <ion-select-option *ngFor="let tag of tag2Options" [value]="tag">{{ tag }}</ion-select-option>
    </ion-select>
  </ion-item>
  
  <!-- Sélecteur pour tag3 -->
  <ion-item>
    <ion-label>Filtrer par Tag3</ion-label>
    <ion-select [(ngModel)]="selectedTag3" (ionChange)="filterRecettes()">
      <ion-select-option *ngFor="let tag of tag3Options" [value]="tag">{{ tag }}</ion-select-option>
    </ion-select>
  </ion-item>
  
  <ion-button expand="block" color="danger" (click)="clearFilters()">
    Enlever tous les filtres
  </ion-button>

  <!-- Liste des recettes -->
  <ion-list *ngIf="recettes && recettes.length > 0">
    <ion-item *ngFor="let recette of recettes">
      <ion-checkbox [(ngModel)]="recette.selected" (ionChange)="updateSelectedRecettes()"></ion-checkbox>
      <ion-label class="availability">{{ recette.title }} ({{ recette.rate }})</ion-label>
      <ion-label>{{ recette.difficulty }} - {{ recette.budget }}</ion-label>
      <ion-label>Ingrédients: {{ recette.ingredients.length }}</ion-label>
      <ion-button fill="clear" (click)="showRecetteDetails(recette)">
        <ion-icon name="help-circle-outline"></ion-icon>
      </ion-button>
    </ion-item>
  </ion-list>
  
  <!-- Pagination -->
  <ion-item *ngIf="totalPages > 1">
    <ion-button (click)="goToPreviousPage()" [disabled]="currentPage === 1">Précédent</ion-button>
    <ion-label>Page {{ currentPage }} sur {{ totalPages }}</ion-label>
    <ion-button (click)="goToNextPage()" [disabled]="currentPage === totalPages">Suivant</ion-button>
  </ion-item>

  <!-- Messages Conditionnels -->
  <ion-item *ngIf="(!recettes || recettes.length === 0) && allRecettes.length > 0">
    Aucune recette correspondante aux filtres sélectionnés.
  </ion-item>
  
  <ion-item *ngIf="allRecettes.length === 0 && recettes.length === 0">
    Chargement des recettes...
  </ion-item>
</ion-content>
