<app-header [back]="false" [menu]="true" [title]="'HOME' | translate"></app-header>

<ion-content [fullscreen]="true" >

  <!-- Date Picker en dehors de l'accordéon -->
  <ion-card class="fixed-width">
    <ion-card-content>
      <form [formGroup]="form">
        <ion-item>
          <ion-datetime
            formControlName="scheduledDate"
            (ionChange)="onDateChange($event)"
            [highlightedDates]="highlightedDates"
            presentation="date"
            locale="fr-FR"
            cancelText="Annuler"
            doneText="OK">
          </ion-datetime>
        </ion-item>
      </form>
    </ion-card-content>
  </ion-card>

  <!-- Liste des listes de courses programmées -->
  <ion-list class="fixed-width">
    <ion-item *ngFor="let list of shoppingLists" class="shopping-list-item" >
      <ion-label>
        <div class="flex-container">
          <h2>{{ list.name }}</h2>
          <p *ngIf="list.scheduledDate">Date prévue : {{ list.scheduledDate | date:'dd/MM/yyyy' }}</p>
        </div>
      </ion-label>
      <ion-button expand="block" color="primary" (click)="openShoppingList(list)">
        <ion-icon slot="start" name="open-outline"></ion-icon>
        {{ 'OPEN_LIST' | translate }}
      </ion-button>
      <ion-button expand="block" color="danger" (click)="deleteShoppingList(list.id!)">
        <ion-icon slot="start" name="trash-outline"></ion-icon>
        {{ 'DELETE_LIST' | translate }}
      </ion-button>
    </ion-item>
  </ion-list>

  <!-- Messages conditionnels -->
  <ion-item *ngIf="shoppingLists.length === 0">
    {{ 'NO_LISTS_AVAILABLE' | translate }}
  </ion-item>

  <!-- Loading animation -->
  <div *ngIf="isLoading" class="advanced-bubble-loader">
    <div class="bowl-container">
      <div class="bowl"></div>
      <div class="chopstick-container">
        <div class="chopstick chopstick-left"></div>
        <div class="chopstick chopstick-right"></div>
      </div>
    </div>
    <div class="bubble bubble1"></div>
    <div class="bubble bubble2"></div>
    <div class="bubble bubble3"></div>
    <div class="bubble bubble4"></div>
    <div class="bubble bubble5"></div>
    <div class="bubble bubble6"></div>
    <div class="bubble bubble7"></div>
    <div class="bubble bubble8"></div>
    <div class="bubble bubble9"></div>
    <div class="steam steam1"></div>
    <div class="steam steam2"></div>
    <div class="steam steam3"></div>
    <div class="steam steam4"></div>
    <div class="steam steam5"></div>
    <div class="steam steam6"></div>
    <p>Préparation en cours...</p>
  </div>

</ion-content>
