<ion-content [fullscreen]="true" scroll-y="false">



  <!-- Sign up page -->
  <div class="container">
    <h1 class="heading">Use Your Fridge<br><br></h1>
    <p class="para">Créer un compte pour commencer!</p>
    <app-lottie animation="man"></app-lottie>
    <form *ngIf="!isSuccessful" name="form" (ngSubmit)="f.form.valid && onSubmitRegister()" #f="ngForm" novalidate>

      <div class="form-group">
        <ion-item lines="none" class="ion-item">
          <fieldset class="input-item">
            <legend>Nom d'utilisateur</legend>
            <ion-input class="form-control" name="username" [(ngModel)]="form.username" required minlength="3"
              maxlength="20" #username="ngModel" type="text" placeholder="Rentrer un pseudo"></ion-input>
          </fieldset>
        </ion-item>
      </div>


      <ion-item lines="none" class="ion-item">
        <fieldset class="input-item">
          <legend>Mot de passe</legend>
          <ion-input class="form-control" name="password" [(ngModel)]="form.password" required minlength="3"
            #password="ngModel" type="password" placeholder="*******"></ion-input>
        </fieldset>
      </ion-item>

      <p class="signup-text">Vous avez déja un compte ?&nbsp;<a (click)="goToSignIn()">Connectez vous !</a></p>
      <ion-button class="login-button" [disabled]="!f.form.valid" (click)="onSubmitRegister()" expand="block">Inscription
      </ion-button>
    </form>
  </div>

  <ion-toast [isOpen]="isToastOpen" message="Connexion réussie" [duration]="3000" (didDismiss)="setOpen(false)">
  </ion-toast>
  <ion-toast [isOpen]="isToastOpen2" message="Inscription réussie" [duration]="3000" (didDismiss)="setOpen2(false)">
  </ion-toast>
</ion-content>