
<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start" *ngIf="menu">
      <ion-menu-button auto-hide="false" (click)="goToFrigoList()"></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="start" *ngIf="menuTab1">
      <ion-menu-button auto-hide="false" (click)="goToShoppingListDetails()"></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="start" *ngIf="back" >
      <ion-icon  (click)="goBack()" name="arrow-back-outline"></ion-icon>
    </ion-buttons>

    <ion-buttons slot="end" *ngIf="trad" >
      <ion-button (click)="changeLanguage('en')">
        🇺🇸
      </ion-button>
      <ion-button (click)="changeLanguage('fr')">
        🇫🇷
      </ion-button>
     <!-- <ion-icon  id="open-action-sheet" name="settings-outline"></ion-icon>-->
    </ion-buttons>
    <ion-buttons slot="end" *ngIf="settings" >
      <ion-icon  (click)="goToSettings()" name="settings-outline"></ion-icon>
    </ion-buttons>
    <ion-buttons slot="end" *ngIf="notifications" >
      <ion-icon  (click)="goToNotifications()" name="notifications-outline"></ion-icon>
      <ion-badge id="cart-badge">2</ion-badge>
    </ion-buttons>
    <ion-title >{{ title | translate }}</ion-title>

  </ion-toolbar>


</ion-header>