<!-- src/app/recette-details-modal/recette-details-modal.component.html -->
<ion-header>
  <ion-toolbar>
    <ion-title>{{ recette.title }}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismiss()">{{ 'CLOSE' | translate }}</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <h2>{{ recette.title }}</h2>
    <ion-card-header>
      <ion-card-subtitle>{{ 'RATE' | translate }}: {{ recette.rate }}</ion-card-subtitle>
      <ion-card-title>{{ recette.difficulty }} - {{ recette.budget }}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <h3>{{ 'INGREDIENTS' | translate }}:</h3>
      
        <li *ngFor="let ing of recette.ingredients">
          {{ ing.quantite }} {{ ing.unit }}  {{ ing.ingredient }}
        </li>
      
      <h3>{{ 'INSTRUCTIONS' | translate }}:</h3>
      <p>
        {{ recette.steps }} 
      </p>
      <a [href]="recette.url" target="_blank" rel="noopener noreferrer">{{ 'VIEW_INSTRUCTIONS' | translate }}</a>
    </ion-card-content>
  </ion-card>
</ion-content>
